html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  margin: 0;
  font-size: 62.5%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 1rem;
}
.NavBar {
  border-bottom: solid #003f81 5px;
}
.NavBar header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.NavBar img {
  width: 15%;
}
.NavBar nav {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
.NavBar nav div {
  text-align: center;
  width: 18%;
}
.NavBar nav a {
  display: block;
  padding: 10%;
  text-decoration: none;
  color: #003f81;
}
.NavBar ul {
  border: solid black 1px;
  position: absolute;
  width: 12.54%;
  overflow: auto;
  display: none;
}
.NavBar ul a {
  font-size: 1rem;
}
.Footer {
  background-color: #f0f0f0;
  color: #555555;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px;
}
.Footer p {
  color: black;
  padding: 5px;
}
.Footer a {
  padding: 5px;
  color: #003f81;
  text-decoration: none;
}
.Footer h3 {
  padding: 5px;
}
.Footer .Quicklinks {
  width: 15%;
  display: flex;
  flex-direction: column;
}
.Footer .Citydepartments {
  width: 15%;
  display: flex;
  flex-direction: column;
}
.Footer .Quickcontact {
  width: 15%;
  display: flex;
  flex-direction: column;
}
.Footer .Connectwithpharr {
  width: 15%;
}
.Footer2 {
  background-color: black;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
