// font colors

@mainFontColor: #252525; // Eerie Black
@mainFontColor2: #393836; // Jet
@mainFontColor3: #555555; // Davys Grey
@mainFontColor4: #231f20; // Raisin Black
@trimColor1: #003f81; // Dark Cornflower Blue
@trimColor2: #011e40; // Oxford Blue
@trimColor3: #f5d230; // Yellow Munsell
@white: #ffffff; // White
