.Footer {
  background-color: #f0f0f0;
  color: @mainFontColor3;
  display: flex;
  justify-content: center;
  // width: 100%;
  padding: 5%;

  p {
    color: black;
    padding: 5px;
  }
  a {
    padding: 5px;
    color: @trimColor1;
    text-decoration: none;
  }
  h3 {
    padding: 5px;
  }
  .Quicklinks {
    width: 15%;
    display: flex;
    flex-direction: column;
  }
  .Citydepartments {
    width: 15%;
    display: flex;
    flex-direction: column;
  }
  .Quickcontact {
    width: 15%;
    display: flex;
    flex-direction: column;
  }
  .Connectwithpharr {
    width: 15%;
  }
}
.Footer2 {
  background-color: black;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
