.NavBar {
  nav {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    a {
      font-size: @contentFont;
      color: @mainFontColor2;
      width: 18%;
      text-align: center;
      text-decoration: none;
      padding: 1%;
      &:hover {
        color: pink;
        border-top: solid @trimColor1 3px;
      }
    } // a
  } // nav
} // navbar
